/* Main navbar */
.navbar {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background-color: transparent;
  height: 70px;
  padding: 0px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  margin-bottom: 0px;
  z-index: 5;
  transition: 0.3s background-color ease;
}

.navbar span {
  color: #FFFFF0;
  font-family: curve;
  font-size: 30px;
}

.navbar:before {
    content: none;
}

.navbar:after {
  content: none;
}

.navbar-show {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background-color: white;
  height: 70px;
  padding: 0px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  margin-bottom: 0px;
}

.navbar-wagon-white {
  background-color: white;
  color: black;

  span {
    color: black;
  }
}
